
        body {
            margin: 0%;
            height: 100vh;
            position: relative;
        }

        * {
            box-sizing: border-box;
        }

        /* header */
        header {
            height: 10%;
            background: rgb(34, 206, 106);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0% 2rem;
            position: fixed;
            width: 100%;
            top: 0;
        }

        #logo {
            width: 100%;
        }

        #searchbar {
            height: 60%;
            width: 40%;
            background: white;
            border-radius: .5rem;
            border: none;
            width: 100%;
        }

        /* current account  */
        #cUserTemplate {
            /* height: 2rem; */
            /* width: 8rem; */
            /* background: red; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: .4rem;
        }
        #cUserTemplate button{
            width: auto;
        }


        /* container */

        #conts {
            background: rgb(65, 230, 114);
            padding-left: 20vw;
        }

        /* main filter */
        #mainFilters {
            width: 8vw;
            background: rgb(155, 255, 185);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            padding: 0 6rem;
            position: fixed;
            left: 0%;
            top: 10vh;
        }
        .filterType{
            background: rgb(95, 236, 95);
            border-radius: .4rem;
            padding: 1rem;
            margin: .4rem;
        }


        #postsFeed{
            /* background: red; */
            padding: 2rem;
        }


        /* footer */
        footer {
            /* position: relative; */
            height: 20vh;
            width: 100%;
            background: hsl(145, 74%, 29%);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }






        /* generated objects */

        #loginPanel,
        #registerPanel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background: rgb(241, 241, 241);
            border-radius: 1.4rem;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            padding: 1rem;
        }

        .accountObject{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: .4rem;
        }


        /* post stylings */
    .post {
        background: rgb(153, 153, 153);
        width: 80%;
        margin-top: 3rem;
    }
    .post *{
        margin: .6rem;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* first section; post header */
    .currentState,
    .todo,
    .requirements {
        background-color: rgb(216, 216, 216);
        /* height: 30vh; */
        height: fit-content;
        margin: .5rem 0;
        /* gap: .5rem; */
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .postHeader {
        height: 4rem;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: rgb(216, 216, 216);
        margin: .5rem 0;
    }
    .postHeader *{
        margin: 0;
    }

    .accountObject img {
        background: url("/orgAvImgs/2022-05-09T16-38-53.430Zdcf96b9a-ba88-46cc-96ef-54d2e3f14507_rwc_0x303x1677x261x1677-Copy.png");
        background-size: cover;
        background-position: center center;
        height: 2rem;
        width: 2rem;
        border-radius: .4rem;
    }

    .imgs {
        height: 8rem;
        background: rgb(233, 77, 77);
        box-sizing: border-box;
        width: 100%;
        background-size: contain;
        background-position: center center;
    }

    .info {
        background: rgb(79, 209, 79);
        height: 100%;
        width: 40%;
        padding: 1rem;

    }

    /* second section; current state */

    /* third seciton; todo */


    /* fourth section; requirements */

    #skillsTag, #knowledgeTag, #toolsMaterialsTag{
    flex-direction: column;
    gap: .3rem;
    }
    span span{
        background: rgb(43, 158, 43);
    }





        /* absolute elements */
        button {
            padding: .3rem;
            font-size: 1.4rem;
            width: 12rem;
            background: rgb(125, 241, 160);
            border: 2px solid rgb(15, 32, 23);
            border-radius: .3rem;
            cursor: pointer;
            transition: .2s linear;
        }

        button:hover {
            background: rgb(76, 202, 114);
        }
        select{
            font-size: 1.5rem;
            padding: .2rem;
        }
        option{

        }

        img {
            all: unset;
            /* background: url("/orgAvImgs/2022-05-09T16-38-53.430Zdcf96b9a-ba88-46cc-96ef-54d2e3f14507_rwc_0x303x1677x261x1677-Copy.png"); */
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
    
        span {
            padding: .5rem;
            background: rgb(116, 235, 116);
            border-radius: .4rem;
        }
    
        input {
            font-size: 1.3rem;
        }
    






        /* after generated objects */


        #auth{
            position: absolute;
            /* z-index:-1; */
            height: fit-content;
            width: fit-content;
            /* background: red; */
            top: 4rem;
            right: .2rem;
            font-size: 1.3rem;
        }


        #current-account{
            height: 100%;
            width: 100%;
            /* background: red; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

        }
        .account-object {
        }

        .accountAv {
            display: inline;
            height: 3rem;
            width: 3rem;
            background: url("./anders-jilden-Sc5RKXLBjGg-unsplash.jpg");
            /* background: url("anders-jilden-Sc5RKXLBjGg-unsplash.jpg"); */
            background-size: cover;
            border-radius: 50%;
        }
        .userName{

        }


